.sidebar{
    flex: 3;
    /*Calculating 100vh minus topbar height*/
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 75px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(179,179,179);
}
.sidebarWrapper{
    padding: 20px;
}
.sidebarList{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.sidebarIcon{
    margin-right: 15px;
}
.sidebarMore {
    display: inline-block;
    vertical-align: middle;
  }
.sidebarMoreBtn a{
    display: inline-block;
    border-radius: 50%;
}
.bottom {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 0.2em solid #333;
    border-radius: 50%;
    background-color: #333;
  }
  .bottom:hover{
    background-color: #444;
    border: 0.2em solid #444;
    transition: 0.5s;
  }
.bottom:after {
    content: '';
    display: inline-block;
    margin-top: 0.5em;
    margin-left: 0.65em;
    width: 0.5em;
    height: 0.5em;
    border-top: 0.2em solid #fff;
    border-right: 0.2em solid #fff;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
.sidebarHr{
    margin: 20px 0;
}
.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.sidebarFriendImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
