.post{
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.31);
    margin: 30px 0;
}
.postWrapper{
    padding: 10px;
}
.postTop{
    display: flex;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postTopRight{
    display: flex;
    position: relative;
}
.postProfileImg{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
.postUsername{
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
}
.postDate{
    font-size: 15px;   
}
.postCenter{
    margin: 20px 0;
    width: 100%;
}
.postImg{
    width: 100%;
}
